# Secret values which need to be protected.
# can be converted to Kubernetes secrets using 
# kubectl create secret generic eh2ti_secrets --from-env-file=..\secure.env

EH2TI_EventHub__ConnectionString=a
EH2TI_EventHub__Name=a
EH2TI_EventHub__ConsumerGroup=a
EH2TI_Storage__ConnectionString=a
EH2TI_Storage__Container=a
