# Configuration values which have no secrets
# Can be mapped to configmap with
# kubectl create configmap eh2ti_config --from-env-file=..\settins.env

EH2TI_Logging__Default=Information

# Eventhub related config
EH2TI_EventHub__Name=mnt-iot-hub01
EH2TI_EventHub__ConsumerGroup=influxdb
EH2TI_Storage__Container=mnt-influxdb

# Influxdb related measurement config
EH2TI_InfluxDb__Measurement__Name=roadweatherdata
EH2TI_InfluxDb__Measurement__Timestamp=timestamp
EH2TI_InfluxDb__Measurement__Tags__0=deviceid
EH2TI_InfluxDb__Measurement__Tags__1=location\.x
EH2TI_InfluxDb__Measurement__Tags__1=location\.y
EH2TI_InfluxDb__Measurement__Fields__0=data\..*_temp

# Influxdb related server config
EH2TI_InfluxDb__Server__Url=http://influxdb:8086/write?db=influx&precision=s
EH2TI_InfluxDb__Server__NoSSLValidation="true"
EH2TI_InfluxDb__Server__UseBasicAuth="false"